@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/AvenirLTStd-Book.otf") format("opentype");
}

#gOverlay{
    background-image: linear-gradient(rgba(16, 94, 48,0),rgba(16, 94, 48,100));
    position:absolute;
    width:400px;
    height: 50px;
    left: 1.35em;
    bottom: 6.1vh;
    z-index:3;
    display: none;
}

.body {
    background-color: #ddd;
    font-family: "Avenir";
}

.card-left > div > img {
    height: 255px;
    object-fit: cover;
}

.my-container {
    background-color: #ddd;
    /* position: absolute; */
    height: 100vh;
}


.card-left {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: rgb(16, 94, 48);
    font-family: "Avenir";
    margin-left: 1.5em;
    margin-top: 1.5em;
    font-size: 0.9rem;
    z-index: 2;
    position: absolute;
    max-height: 90vh;
    overflow: scroll;
}

.card-popup{
    margin-top: 0;
    margin-left: 0;
    font-family: "Avenir";
}


.card-body {
    margin: 10px;
}

.card-title {
    margin-bottom: 3px;
    font-size: x-large;
    color: white;
}


.card-price {
    margin: 0px;
    font-weight: bolder;
    font-size: 30px;
    color: white;
}

.costshrink{
    font-size: 18px;
    line-height: 16px;
}

.card-text {
    color: white;
    font-weight: normal;
}

#card-hallFame .card-body .card-text {
    font-size: .9em;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

/* .close {
    border-radius: 1000px;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    background-color: #105e31;
    font-family: "Avenir";
    font-size: x-large;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.close {
    color: #fff;
    opacity: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    font-family: "Avenir";
}
.close :hover{
    color: #105e31;
    opacity: 1;
}

.modal-content {
    background-color: #105e31;
 }

 .btn-circle {
    border-radius: 50%;
    background-color:  #105e31;
    color: white;
 }

 .floor-select {
    width: 85%;
    position: absolute;
    top: 25%;
    z-index: 1;
 }

 .nav-card {
    margin-left: 12.5%;
 }

 .select-text {
    margin-left: 12.5%;
    opacity: 80%;
    width: 53%;
 }

 .select-arrow {
    max-width: 40px;
    height: auto;
 }

 .nav-title {
    font-size: 1.1rem;
    font-weight: bolder;
    font-family: "Avenir";
 }

 .tooltip-inner {
    background-color: #105e31 !important;
    color: #fff ;
}

.bs-tooltip-bottom .arrow::before, 
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #105e31 !important;
}

@media screen and (max-width: 992px) {
    .floor-select {
        display: none;
    }
}
